* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#parent {
    height: 100%;
    width: 100%;
    background-color: rgb(68, 163, 207);
    padding: 10px;
    display: flex;
    /* flex-wrap: nowrap; */
    overflow: auto;
    /* flex-shrink: 0; */
    gap: 20px;
}

.card1 {
    height: 270px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.39);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.card1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;

}

.card1 h2 {
    font-size: 20px;
    font-weight: 600;
}

.card1 p {
    width: 180px;
    text-align: center;

}

.card1 button {
    height: 30px;
    width: 80px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(80, 168, 226);
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: white;

}

.card1 button:hover {
    background-color: transparent;

}