* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}

#box1 {
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 11;
}

#box2 {
    background-color: blue;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 10;
}

#box3 {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: green;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    display: inline-block;
    background-color: yellow;
}

h2 {
    display: inline-block;
}